header
  nav 
    a 
      img(src='../src/assets/img/logo.jpg'  width="106" height="40" alt="Логотип отеля Toxin")
    ul 
      li: a(href='blank.html') О нас
      li: a(href='blank.html') Услуги
      li: a(href='blank.html') Вакансии
      li: a(href='blank.html') Новости
      li: a(href='blank.html') Соглашение
    a(href='blank.html') Войти
    a(href='blank.html') Зарегистрироваться