header.main-header
  nav.main-navigation 
    a.main-header-logo 
      img(src='../src/assets/img/logo.jpg'  width="106" height="40" alt="Логотип отеля Toxin")
    .main-navigation-wrapper
      .main-navigation-container
        ul.site-navigation 
          li
            a(href='blank.html') О нас
          li
            a(href='blank.html') Услуги
          li
            a(href='blank.html') Вакансии
          li
            a(href='blank.html') Новости
          li
            a(href='blank.html') Соглашение
        .user-navigation
          p 
            a(href='blank.html') Войти
          p
            a(href='blank.html') Зарегистрироваться